@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";
.birthday {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  select {
    display: flex;
    align-items: center;
    border: 0px;
    font-size: 1em;
    height: 2em;
    padding: 0 5px;
    border-radius: 9999px;
    background-color: $main-text-color;
    color: black;
  }
}
