//TEXT
$main-text-color: antiquewhite;
$list-bg-color: #faebd750;
$list-bg-border: #443f3850;

$main-soft-color: #ebf5cf;

$nav-items-bg-color: antiquewhite;
$nav-items-bg-color-active: #12ebce;
$drop-shadow-color: #0086b2;
$pop-up-color: #ff7bda;
$skill-bg: #849ab150;
$nav-text: #808080;
$button-bg: #849ab150;
$button-bg-md: #849ab100;
$description-bg: #f2f2f2;
$card-bg: #20202036;
$edit-bg: #5fddcc;
