@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";
.footer {
  text-align: center;
  padding: 10px 0;
  transition: 0.3s;
  color: $main-text-color;
  &:hover {
    filter: drop-shadow(0 0 2.5em $drop-shadow-color);
  }
  @include md {
    font-size: smaller;
  }
}
