@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.home {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 15px;
  display: flex;
  @include md {
    flex-direction: column;
    gap: 50px;
  }
  .welcometext {
    .title {
      font-size: 2.5em;
      font-weight: 900;
    }
    .introtext {
      font-size: 1.5em;
    }
    transition: 0.3s;
    &:hover {
      filter: drop-shadow(0 0 2.5em $drop-shadow-color);
    }
    @include md {
      .title {
        font-size: 1.8em;
        font-weight: 900;
      }
      .introtext {
        font-size: 1em;
      }
      transition: 0.3s;
      &:hover {
        filter: drop-shadow(0 0 2.5em $drop-shadow-color);
      }
    }
  }
  .coder-image {
    transition: 0.3s;
    .image {
      @include md {
        width: 350px;
      }
      @include sm {
        width: 300px;
      }
    }
    &:hover {
      filter: drop-shadow(0 0 2.5em $drop-shadow-color);
    }
  }
}
